{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Reset Password</h3>
                </div>
            </div>
            <div class="layout__body">
                <h1 style="margin-bottom: 15px;">Enter your new password below:</h1>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form__group">
                        <label for="id_new_password1">New Password:</label>
                        <input type="password" name="new_password1" id="id_new_password1">
                    </div>
                    <div class="form__group">
                        <label for="id_new_password2">Confirm New Password:</label>
                        <input type="password" name="new_password2" id="id_new_password2">
                    </div>
                    <button class="btn btn--main" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}