{% extends 'main.html' %} {% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Reset Password</h3>
                </div>
            </div>
            <div class="layout__body">

                
                <p style="margin-bottom: 10px;">Enter your email address below:</p>
                <form class="form" action="{% url 'password_reset' %}" method="POST">
                    {% csrf_token %}
                    <div class="form__group form__group">
                        <input
                            id="email"
                            name="email"
                            type="text"
                            placeholder="e.g. bizzyjay@example.com"
                        />
                    </div>
                    

                    <button class="btn btn--main" type="submit">

                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>

    
</main>
{% endblock %}
